.users_index_page
	- @following_users.each do |following_users|
		.registration_wrapper_users
			.panel
				.panel-heading
					=image_tag(following_users.avatar.url(:small), class: "img-circle")
					%h2
						= link_to following_users.username, '#'