.users_index_page
	-@users.each do |user|	
		.registration_wrapper_users
			.panel
				.panel-heading
					=image_tag(user.avatar.url(:small), class: "img-circle")
					%h2
						= link_to user.username, user_path(user)
					%p.small
						%span
							following
							="(#{user.following.count})"
							followers
							="(#{user.followers.count})"