.users_index

	.user_details_showpage
		=image_tag @user.avatar.url(:small), class:"img-circle"
		%h5.text-muted
			= link_to @user.username, "#"
		%p
			%i.fa.fa-users 22
		%p
			=link_to "Follow", "#", class:"btn btn-sm btn-default btn-follow"

	.user_songs	
		%h4 Songs uploaded by #{@user.username}
		%br/
		-@song.each do |song|
			.panel_collection
				.panel-body
					=link_to (image_tag song.cover.url(:mid)), song_path(song)
				.panel-fotter
					=song.title