-@songs.each do |song|
	%h2
		=link_to song.title, song_path(song)
	%p	
	=song.description if song.description
	%p
		=link_to "Edit", edit_song_path(song)
	.image
		=image_tag song.cover.url if song.cover.url
	%p
		-# =audio_tag(@song.audio, controls: true) if @song.audio
	=link_to "Play/Stop", "", :onclick => "document.getElementById(wave_#{song.id.to_s}).wavesurfer.playPause(); return false", class:"btn btn-default"

	%div{ :id => "wave_#{song.id.to_s}" }

		:javascript

			var wavesurfer = Object.create(WaveSurfer);

			wavesurfer.init({
			    container: document.querySelector('#wave_#{song.id}'),
			    waveColor: 'violet',
			    progressColor: 'purple'
			});

			wavesurfer.load('#{ song.audio }');