%h2
	=@song.title
%p
	=truncate(@song.description, length: 100) if @song.description
%p
	=link_to "Edit", edit_song_path(@song)
	=link_to "Delete", song_path(@song), method: :delete, data: { confirm: "Are you sure?" }
.image
	=image_tag @song.cover.url if @song.cover.url

#wave
	=link_to "", :onclick => "wavesurfer#{@song.id}.playPause(); return false", class:"btn btn-default" do
		%i.fa.fa-play

:javascript

	var wavesurfer = Object.create(WaveSurfer);

	wavesurfer.init({
	    container: document.querySelector('#wave'),
	    waveColor: 'violet',
	    progressColor: 'purple'
	});

	wavesurfer.load('#{ @song.audio }');
