$dark_green		:	#114B5F
$green 		 		: #028090
$light_green 	: #E4FDE1
$queen_blue		: #456990
$pink					: #F45B69
$purple				: #aaa5b5


// new colors

$white				: #FFFFFF
$black				: #000000
$grey					: #8498A4
$dark_purple	: #47455E
$medium_purple: #5769C5
$purple				: #4A4EAD
$light_purple : #8C85EA
$light_blue		: #6E9BD2
$light_pink   : #CAAFBE


