@import 'https://fonts.googleapis.com/css?family=Prompt:300,400,600,900'

body
	font-family: "Prompt", sans-serif

label
	font-weight: normal

.huge
	font:
		size: 12em
		weight: 900
	color: #ffffff

.small
	font:
		size: .7em