@import "susy"
@import "_grid"
@import "bootstrap-sprockets"
@import "bootstrap"
@import "_colors"
@import "_typography"
@import "font-awesome"

html, body
	height: 100%

body
	margin: 0
	background: linear-gradient(0deg, $white, $light_blue) no-repeat fixed

.purple
	color: $pink

.home_page
	margin-top: 130px
	h4.home_page_title
		color: white
		text-decoration: underline

.index_page_gradient
	background: linear-gradient(45deg, $light_blue, $purple) no-repeat fixed

.registration_wrapper,
.new_song_wrapper
	display: flex
	justify-content: center

.registration_wrapper,
.new_song_wrapper
	padding-top: 120px

// INDEX PAGE - WELCOME PAGE

.presentation
	text-align: center
	padding-top: 100px
	.logo
		color: $white
		background: $light_blue
		border-radius: 50%
		font:
			size: 10em
			weight: 900
		width: 205px
		display: inline-block
	.logo_heading
		padding: 5px
		color: $light_yellow
		font-size: 5em
		font-weight: 100
	.logo_subheading
		padding: 0 0 60px
		color: $light_yellow
	.small
		font:
			size: .8em
		
	.login_wrap
		padding: 10px
		text-align: center
		.signup_button,
		.login_button
			padding: 10px 20px
			border-radius: 10px
			text-decoration: none
			&:hover
				text-decoration: none
		.signup_button
			color: $white
			background: $dark_purple
			margin-right: 50px
			&:hover
				background: darken($dark_purple, 5)
		.login_button
			color: $white
			border: 1px solid $white
			&:hover
				background: $light_blue
				border: 1px solid $light_blue


// SIGN UP PAGE

.panel
	background: $white
	border-radius: 5px
	text-align: left
	width: 500px
	box-shadow: 0px 0px 24px 0px #748da4
	.panel-heading
		text-align: center
		h2
			font:
				weight: 600
			color: #748da2
	.panel-heading
		padding-top: 20px
	.form,
	.panel-footer
		padding: 20px
		a
			text-decoration: none
			font-size: .8em

.form
	.signup_button
		padding: 10px 0
		input.btn.btn-default
			color: white
			border: none
			padding: 15px 30px
			border-radius: 40px
			background: lighten($purple, 5)
			cursor: pointer
			font-size: .8em
			&:hover
				background: $purple
		a.login_button
			margin: 0
			font-size: .8em
			color: white
			border: none
			padding: 13px 30px
			border-radius: 40px
			background: lighten($light_blue, 5)
			cursor: pointer
			text-decoration: none
			&:hover
				background: $light_blue
	.form-group
		margin-bottom: 20px
		label
			color: #748da2
			font-size: .8em
		input, textarea
			border: none
			border-bottom: 3px solid #ede4fb
			padding: 10px
			width: 95%
			background: none
			outline: 0
			&:focus
				border-bottom: 3px solid #c5dfef
				box-shadow: none

		p.help-block
			text-align: left
			font-size: .7em
			color: #9c9c9c

.form_field_cover, .form_label_cover, .form_field_audio, .song_categories_fields
	display: block
	color: #748da2
	font-size: .8em
	margin-bottom: 20px
.song_categories_fields
	margin: 30px 0

.form-control, .has-error .form-control
	border-radius: 0
	box-shadow: none


// **************************************//

.navbar-default
	background-color: $white
	border: none
	border-color: transparent
	box-shadow: 0px 2px 2px 0px rgb(162, 172, 175)
	border-radius: 0
	margin-bottom: 0
	.navbar-brand
		font:
			size: 1.8em
			weight: 600
		color: $white
		background: $light_blue
		text-transform: uppercase
		padding: 15px 19px
		margin-top: -1px
		border-radius: 50%
		&:hover
			color: $white
			background: $light_blue

.navbar-default .navbar-nav > li > a
	color: $dark_purple
	&:hover
		color: darken($dark_purple, 5)

.navbar-right li a.upload_button,
.navbar-right li a.profile_button
	color: $dark_purple
	border-radius: 20px
	border: 1px solid $dark_purple
	&:hover
		border: 1px solid $dark_purple
		background: $dark_purple
		color: $white

.navbar-nav > li > .dropdown-menu
	margin-top: 27px

.navbar-header
	float: none

.navbar
	background: $white
	border-bottom: 0
	z-index: 999
	.navbar-header
		float: none
		padding: 20px
	.navbar-nav > li > a
		padding-top: 8px
		padding-bottom: 8px

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus
	background-color: $white

ul.nav.navbar-nav
	padding-top: 8px

form.navbar-form.navbar-left.search
	.form-group
		input.form-control
			border-radius: 20px
			border: none
			background: lighten($light_blue, 20)

.form-control:focus
	border-color: #efb9be
	box-shadow: none

//  SONG PREVIEW PAGES

.songs_container
	+container
	padding-top: 30px

.song_wave>wave>wave
	border-right: none !important

.song_container
	+span(12)
	margin: 30px 0
	width: 100%
	position: relative
	background: $white
	padding: 15px 15px
	border-radius: 5px
	box-shadow: 0px 15px 50px -5px rgba(111,111,111, .63)
	p.update_status
		border-bottom: 1px solid #f2e2fb
		padding-bottom: 10px

	.song_user_details,
	.song_content
		padding: 30px 8px

	.song_user_details
		+span(3 of 12)
		text-align: center
		img
			border: 3px solid $light_blue
			border-radius: 5px

	.song_content
		+span(9 of 12 at 3)
		.song_title
			display: inline-block
			h4
				margin-top: 0
			p
				margin-bottom: 7px
		.play_button
			display: block
			float: left
			margin: 5px 10px 5px 0px
			a
				i
					background: $light_blue
					padding: 15px 17px
					border-radius: 50%
					color: $white
					&:hover
						background: lighten($light_blue, 10)
		.song_category
			float: right
		.song_wave

.wave_overlay
	+container(50em)
	position: absolute
	height: 65px
	width: 100%
	margin-top: 65px
	z-index: 3
	background: rgba($white, .6)

.show_page_wave_overlay
	+container(52em)
	position: absolute
	height: 100px
	width: 100%
	margin-top: 100px
	z-index: 3
	background: rgba($white, .6)

	
.btn.like_button
	background: $light_blue
	border: none
	border-radius: 20px
	padding: 10px
	color: $white
	&.heart
		background: $purple
	&:hover
		background: darken($light_blue, 5)

input[type="submit"].btn.like_button.heart
	font-size: .8em
	transition: all ease-in-out .3s
	&:hover
		transition: all ease-in-out .3s

.song_buttons
	padding-top: 20px
	float: right
	


// SONG SHOW PAGE

.song_show_page
	padding-top: 100px
	+container(1170px)
	.song_container

		.song_content
			+span(8 of 12)
			.song_buttons
				float: left
		.song_image
			+span(4 of 12 at 8)
			padding: 30px 8px
			img
				border: 3px solid $light_blue
				border-radius: 3px

	.song_details_container
		+span(12)
		.song_user_details
			+span(2 of 12)
			text-align: center
		.song_description
			+span(9 of 12)
			float: right
		.song_user_details,
		.song_description
			margin: 20px 0
			background: $white
			padding: 15px
			border-radius: 5px
			box-shadow: 0px 15px 50px -5px rgba(111,111,111, .63)

// SONG SHOW PAGE - COMMENT SECTION

.comments_section
	padding: 30px 0

.song_comment
	padding: 10px
	background: #f1f2f3
	margin: 10px 0
	border-radius: 5px

textarea.form-control
	border: none
	border-bottom: 3px solid $light_blue

// NEW SONG FORM

.login_wrap
	input.btn.btn-default.login_button
		margin: 0
		font-size: .8em
		color: white
		border: none
		padding: 13px 30px
		border-radius: 40px
		background: lighten($light_blue, 5)
		cursor: pointer
		text-decoration: none
		&:hover
			background: $light_blue

.user_show
	margin-top: 30px

#favourites, #bbcat
	margin-top: 30px

ul.nav.nav-tabs
	margin-top: 20px

p.edit_song_buttons
	margin: 10px 0

#notifications.dropdown-menu > li > a.unread_notification, 
#notifications.dropdown-menu > li > a.read_notification
	padding: 30px 60px
	border-bottom: 1px solid #c5c1c1
#notifications.dropdown-menu > li > a.dropdown_all_notification
	padding: 20px
	text-align: center

#notifications.dropdown-menu > li > a.unread_notification
	background: #f45b69
	color: white
	border-bottom: 1px solid white
	&:hover
		background: lighten(#f45b69, 5)

#notifications.dropdown-menu > li > a.read_notification
	background: #edfbfe
	&:hover
		background: lighten(#e7e7e7, 5)

#notifications.dropdown-menu > li > a.read_notification i
	margin-right: 10px

#notifications.dropdown-menu > li > a
	padding: 0

#notifications.dropdown-menu
	padding: 0


.footer
	position: absolute
	bottom: 0
	width: 100%
	height: 60px
	background-color: #f5f5f5
	ul
		list-style: none



.checkbox-inline
	margin-right: 10px

.panel_new_song
	margin-top: 50px
.panel-default > .panel-heading
	background-color: #666666
	color: $white

input[type="file"]
	display: inline-block
	margin-left: 10px

.nav-tabs > li > a
	background: rgba(255, 255, 255, 0.65)

.overlay_show_song
	width: 100%
	height: 33%
	bottom: 0
	position: absolute
	background: rgba(#e8a3a9, 0.6)
	margin-bottom: 40px
	z-index: 3

.notifications_index
	padding-top: 50px
	text-align: center

.image
	img
		border: 3px solid white

.alert
	padding: 35px
	border: none
	text-align: center
	background: rgba(255, 218, 255, 0.8)

.notification
	position: absolute
	top: 0
	z-index: 1000
	width: 100%
