@import "susy"
@import "compass"
@import "_grid"
@import "bootstrap-sprockets"
@import "bootstrap"
@import "_colors"
@import "_typography"
@import "font-awesome"

html, body
	height: 100%

body
	+container
	background: linear-gradient(45deg, $purple, $light_blue) no-repeat

.presentation
	text-align: center
	padding-top: 200px
	.logo
		color: $white
		background: $light_blue
		border-radius: 50%
		font:
			size: 10em
			weight: 900
		width: 200px
		display: inline-block
	.logo_heading
		padding: 5px
		color: $light_yellow
		font-size: 5em
		font-weight: 100
	.logo_subheading
		padding: 0 0 60px
		color: $light_yellow
	.small
		font:
			size: .8em
		
	.login_wrap
		padding: 10px
		text-align: center
		.signup_button,
		.login_button
			padding: 10px 20px
			border-radius: 10px
			&:hover
				text-decoration: none
		.signup_button
			color: $white
			background: $dark_purple
			margin-right: 50px
			&:hover
				background: darken($dark_purple, 5)
		.login_button
			color: $white
			border: 1px solid $white
			&:hover
				background: $light_blue
				border: 1px solid $light_blue


.white
	background: $white
.pink
	color: $pink

.navbar-default
	background-color: #333333
	border:none
	border-color: transparent
	border-radius: 0
	margin-bottom: 0
	.navbar-brand
		color: $white
		background: $pink
		text-transform: uppercase
		padding: 7px 15px
		&:hover
			color: $white
			background: $pink

.navbar-brand-index
	color: $pink
	font-size: 1.4em
	font-weight: 600
	padding: 7px
	text-transform: uppercase
	&:hover
		color: $white
		text-decoration: none
	i
		color: $white

.navbar-default .navbar-nav > li > a
	color: $white	
	&:hover
		color: $white

.navbar-header
	float: none

.navbar-index
	background: transparent
	border-bottom: 0
	border-top: 3px solid $pink
	z-index: 999
	.navbar-header
		float: none
		padding: 15px 20px
		margin-top: -2px
	.navbar-nav > li > a
		padding-top: 8px
		padding-bottom: 8px

.navbar-index-song-preview
	background: #333333
	.navbar-right
		padding-top: 5px
	.navbar-nav > li > a
		padding-top: 8px
		padding-bottom: 8px

.sign_up_button
	border: 1px solid $white
	background: $pink
	&:hover
		background: lighten($pink, 5) !important

.login_button
	margin-left: 10px

.container .jumbotron
	border-radius: 0

.container.white
	padding-bottom: 50px

// .jumbotron
// 	background: url(header.jpg), no-repeat
// 	background-position: bottom
// 	background-size: cover
// 	height: 500px
// 	margin: 0
// 	position: relative
// 	margin-top: -78px
// 	h4
// 		color: $white
// 		font-weight: 400
// 		margin: 200px 0 20px 0
// 		background: rgba($dark_green, .7)
// 		padding: 10px 0
// 	p
// 		color: $white
// 	.form-control
// 		padding: 24px 25px

h4.home_page_title
	padding: 40px 0 60px 0
	text-align: center
	color: #333333
	.col-xs-6
		border: 1px solid #333333
		padding: 10px 0

.recent_songs
	h4
		background: $pink
		color: $white
		padding: 25px 0
		margin: 0
	.panel
		border-radius: 0
		text-align: center
		border: none
		.panel-body
			padding: 20px 0
		.panel-footer
			background: $white

.form-control:focus
	border-color: #efb9be
	box-shadow: none


.container#song
	margin: 30px 0
	width: 100%
	background: $white
	padding: 15px 15px
	border-radius: 5px
	box-shadow: 0px 6px 5px -5px rgba(111,111,111, .63)
	.col-xs-2,.col-xs-10
		padding-left: 0
		padding-right: 0

p.update_status
	color: grey
	a
		color: #333333
.song_content>.song_title
	display: inline-block
	p,h4
		margin: 0
	p>a
		color: grey
		font-weight: 100
		&:hover
			text-decoration: none
			color: darken(grey,20)
	h4>a
		color: #333333
		&:hover
			text-decoration: none
			color: $pink

.play_button
	display: inline-block
	margin-top: -10px
	a.btn-default
		color: $white
		border-color: $pink
		border-radius: 2em
		background: $pink
		margin-top: -25px

.song_category
	float: right
	.badge
		font-weight: normal
		background-color: #a9a9a9

.song_buttons
	margin-top: 10px

.row.song_show_details
	padding: 30px
	// background: linear-gradient(to right, #6D657F, #312E3E)
	background: #e8a3a9
	.song_title
		h4 a
			color: $white
	.song_wave
		margin-top: 20px

.song_wave
	margin: 10px 0


.comments_section
	padding: 30px 0

.song_user_details
	padding-top: 50px

.btn-follow
	background: $pink
	color: $white
	border-color: $pink
	&:hover
		background: lighten($pink, 5)
		color: $white
		border-color: lighten($pink, 5)

.user_show
	margin-top: 30px

#favourites, #bbcat
	margin-top: 30px

ul.nav.nav-tabs
	margin-top: 20px

p.edit_song_buttons
	margin: 10px 0

#notifications.dropdown-menu > li > a.unread_notification, 
#notifications.dropdown-menu > li > a.read_notification
	padding: 30px 60px
	border-bottom: 1px solid #c5c1c1
#notifications.dropdown-menu > li > a.dropdown_all_notification
	padding: 20px
	text-align: center

#notifications.dropdown-menu > li > a.unread_notification
	background: #f45b69
	color: white
	border-bottom: 1px solid white
	&:hover
		background: lighten(#f45b69, 5)

#notifications.dropdown-menu > li > a.read_notification
	background: #e7e7e7
	&:hover
		background: lighten(#e7e7e7, 5)

#notifications.dropdown-menu > li > a.read_notification i
	margin-right: 10px

#notifications.dropdown-menu > li > a
	padding: 0

#notifications.dropdown-menu
	padding: 0


.footer
	position: absolute
	bottom: 0
	width: 100%
	height: 60px
	background-color: #f5f5f5
	ul
		list-style: none

.form_field_cover, .form_label_cover, 
	margin-bottom: 20px
.form_field_audio, .song_categories_fields
	margin: 30px 0

.checkbox-inline
	margin-right: 10px

.panel_new_song
	margin-top: 50px
.panel-default > .panel-heading
	background-color: #666666
	color: $white

input[type="file"]
	display: inline-block
	margin-left: 10px

.song_comment
	padding: 10px
	background: #f2f1f5
	margin: 10px 0
	border-radius: 5px

.nav-tabs > li > a
	background: rgba(255, 255, 255, 0.65)

.overlay
	width: 100%
	height: 33%
	bottom: 0
	position: absolute
	background: rgba(255, 255, 255, 0.6)
	margin-bottom: 10px
	z-index: 3

.overlay_show_song
	width: 100%
	height: 33%
	bottom: 0
	position: absolute
	background: rgba(#e8a3a9, 0.6)
	margin-bottom: 40px
	z-index: 3

.notifications_index
	padding-top: 50px
	text-align: center

.image
	img
		border: 3px solid white