.row
	.container.text-center
		%h4 List of song categories
		%h4 Add new category:
			=render "categories/form"
		-for category in @categories do
			.col-xs-2
				.well
					=link_to category.name, category_path(category)