.jumbotron
	.col-xs-6.col-xs-offset-3
		%h4.text-center Find the music you love. Discover new tracks.
	.container
		%form{:role => "search"}
			.form-group
				%input.form-control{:placeholder => "Search for artist, tracks, bands", :type => "text"}