.presentation
	.logo
		S
	.logo_heading Soundacity
	.logo_subheading.small Upload and listen your favourite songs on one place.
	
	.login_wrap
		=link_to "Sign up", new_user_registration_path, class:"signup_button"
		=link_to "Log in" , new_user_session_path, class:"login_button"