-# .jumbotron
-# 	.col-xs-6.col-xs-offset-3
-# 		%h4.text-center Find the music you love. Discover new tracks.
-# 	.container
-# 		%form{:role => "search"}
-# 			.form-group
-# 				%input.form-control{:placeholder => "Search for artist, tracks, bands", :type => "text"}

.presentation
	.logo
		S
	.logo_heading Soundacity
	.logo_subheading.small Upload and listen your favourite song on one place.
	
	.login_wrap
		=link_to "Sign up", new_user_registration_path, class:"signup_button"
		=link_to "Log in" , new_user_session_path, class:"login_button"