.jumbotron
	%h3.text-center Find the music you love. Discover new tracks.
	.container
		%form{:role => "search"}
			.form-group
				%input.form-control{:placeholder => "Search for artist, tracks, bands", :type => "text"}