%nav.navbar.navbar-default{:role => "navigation"}
  .container
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      =link_to "Soundacity", root_path, class:"navbar-brand"
    / Collect the nav links, forms, and other content for toggling
    -if user_signed_in?
      #bs-example-navbar-collapse-1.collapse.navbar-collapse
        %ul.nav.navbar-nav
          %li
            =link_to "Home", home_path
          %li
            =link_to "Collection", collection_path
        %form.navbar-form.navbar-left{:role => "search"}
          .form-group
            %input.form-control{:placeholder => "Search", :type => "text"}
          -# %button.btn.btn-default{:type => "submit"} Submit
        %ul.nav.navbar-nav.navbar-right
          %li
            =link_to "Upload", new_song_path
          %li.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              =current_user.email
              %span.caret
            %ul.dropdown-menu{:role => "menu"}
              %li
                %a{:href => "#"} Profile
              %li
                %a{:href => "#"} Likes
              %li
                %a{:href => "#"} Following
              %li.divider
              %li
                =link_to "Log out", destroy_user_session_path, method: :delete
    -else
      %ul.nav.navbar-nav.navbar-right
        %li
          =link_to "Sign Up", new_user_registration_path
        %li
          =link_to "Log in", new_user_session_path
         
    / /.navbar-collapse
  / /.container-fluid